<h3>Add Pizza</h3>

<div>
  <label>name </label>
  <input #name/>
</div>
<div>
  <label>Name: </label>
  <input #description>
</div>
<div>
  <label>Price: </label>
  <input #price >
</div>
<div>
  <button (click)="goBack()">Back</button>
  <button (click)="save(name.value, description.value, price.value)">Save</button>
</div>
